<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>home</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<body id="body">
    <!--==========================
      Header
    ============================-->
    <header id="header">
      <div class="container">
  
        <div id="logo" class="pull-left">
          <h1><a href="#body" class="scrollto">Ho<span>me</span></a></h1>
        </div>
  
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="/index">Home</a></li>
            <li><a href="/index#about">Abstract</a></li>
            <li><a href="/owner">Data Owner</a></li>
          <li><a href="/Proxy">Proxy server</a></li>
          <li><a href="/Cloud">Admin</a></li>
            <li class="menu-has-children"><a href="">Cloud</a>
              <ul>
                <li><a href="#">Amazon S3</a></li>
                <li><a href="#">Google drive</a></li>
                <li><a href="#">Apple icloud</a></li>
                <li><a href="#">Microsoft Azure</a></li>
              </ul>
            </li>
            <li><a href="/Enduser">End user</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->
    <section id="about" class="wow fadeInUp" style="text-align: center;">
      <div class="col-lg-6 content" style="display: inline-block;">
        <div class="content_resize">
        <div class="mainbar" style="text-align: justify;">
          <div class="article">
            <h2><span>Server Login </span></h2>
            <div class="clr"></div>
          <p> <form action="proxyauth.py" method="post" id="leavereply">
            <ol class="form-list">
              <li class="form-item">
                <label for="name">Name</label>
                <input id="name" name="userid" class="text" />
              </li>
              <li class="form-item">
                <span class="style3">
                <label for="email">Password</label>
                </span><span class="style1"><label for="email"></label>
                </span>
                <label for="email"></label>
                <input type="password" id="pass" name="pass" class="text" />
              </li>
              <br />
              <li class="form-item">
                  <a href="/Register">REGISTER</a>
                  <input type="submit" name="imageField" id="imageField"  class="LOGIN" /></li>
            </ol>
          </form></p>
        </div>
      </div>
      </section>
</body>
</html>
